.review {
    background: #fff;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, .3);
    padding: 30px 80px;
    margin-bottom: 80px;
    position: relative;

    &-list {
        &__container {
            max-width: 700px;
            margin: -200px auto 0;
        }
    }

    &__avatar {
        &-container {
            margin: -60px auto 20px;
            display: flex;
            justify-content: center;
        }

        &-figure {
            display: block;
            background: #fff;
            border-radius: 50%;
            overflow: hidden;
            border: 2px solid #fff;
        }
    }

    &__author {
        text-align: center;
        font-size: 12px;
        font-weight: 700;
        color: $color-blue;
        margin-bottom: 10px;
    }

    &__date {
        text-align: center;
        font-size: 12px;
        color: $color-grey-dark;
    }

    &__title {
        text-align: center;
        font-size: 28px;
        font-weight: 300;
        color: $color-grey-dark;
        margin: 20px 0; 
    }

    &__description {
        font-size: 14px;
        line-height: 24px;
        overflow: hidden;
        position: relative;
        display: block;
        cursor: pointer;
        height: 100px;
            
        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 40px;
            background: linear-gradient(transparent, #fff);
        }

        &--full {
            cursor: default;

            &:after {
                content: none;
            }
        }
    }

    &__comment {
        background: $color-grey;
        padding: 30px 50px;
        margin: 40px 0 60px;
        word-wrap: break-word;
        position: relative;

        &:before {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-left: 24px solid transparent;
            border-right: 24px solid transparent;
            border-bottom: 24px solid $color-grey;
            position: absolute;
            top: -24px;
            left: calc(50% - 22px);
        }

        &-heading {
            font-weight: 900;
            margin-bottom: 15px;
            text-align: center;
        }

        &-author {
            font-weight: 700;
            font-size: 12px;

            &-container {
                margin-bottom: -80px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            &-figure {
                border-radius: 50%;
                overflow: hidden;
                border: 2px solid #fff;
                display: block;
            }
        }


        &-form {
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, .9);
            top: 0;
            left: 0;
            z-index: 3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 50px;
        }

        &-close {
            position: absolute;
            top: 20px;
            right: 20px;
            color: $color-blue;
            cursor: pointer;
        }
    }
}